@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    position: absolute;
    width: 1140px;
    font-size: 20px;
    font-family: "Orbitron";
    margin: 20px auto;
    text-align: center;
}

h1 {
    color: white;
    font-size: 300%;
}

.guess {
    float: left;
    position: relative;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    margin: 6.5% 0 0 1.5%;
    width: 400px;
    height: 400px;
    background-color: #8e44ad;
    border: 4px solid black;
    border-right: none;
}

.guesses {
    display: flex;
    flex-flow: wrap;
    align-items: flex-end;
    justify-content: center;
}

.guesses li {
    list-style: none;
    font-family: sans-serif;
    display: inline-block;
    background-color: white;
    font-size: 150%;
    border: 3px solid #ff7f50;
    border-radius: 200px;
    width: 60px;
    height: 60px;
    margin: 1% 2%;
    padding: 3% 0;
}

.number {
    float: left;
    position: relative;
    border-radius: 85px;
    width: 450px;
    height: 550px;
    background-color: #2ed573;
    border: 4px solid black;
    border-left: none;
    border-right: none;
}

.number input {
    border: 5px solid #8e44ad;
    text-align: center;
    font-size: 300%;
    display: block;
    border-radius: 20px;
    margin: 5% auto;
    width: 35%;
    height: 20%;
    padding-left: 2%;
}

.btnGo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    border: 5px solid #8e44ad;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 300%;
    color: white;
    display: block;
    border-radius: 200px;
    margin: 7% auto;
    width: 150px;
    height: 150px;
}

.btnGo:hover {
    background-color: #b400ff; 
    border: 5px solid white;
    color: #00ff3a; 
}

.number ion-icon {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    font-size: 150%;
    color: white;
    margin: 0 12%;
    border-radius: 200px;
    width: 100px;
    height: 100px;
}

.number ion-icon:hover {
    color: #8e44ad;
}


.game {
    display: inline-block;
    position: relative;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    margin: 6.5% -11.15% 0 0;
    width: 400px;
    height: 400px;
    background-color: #ff7f50;
    border: 4px solid black;
    border-left: none;
}

.game p {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    border: 5px solid #2ed573;
    font-size: 130%;
    color: white;
    padding: 6% 10%;
    margin: auto 10%;
    border-radius: 20px;
    width: 80%;
    height: 70%;
}

.play,
.setting {
    display: none;
    position: absolute;
    background-color: rgba(142, 68, 173, 0.95);
    border: 3px solid white;
    top: 0;
    bottom: 11%;
    left: 0;
    right: 0;
    color: white;
    padding: 1% 1%;
    margin: auto;
    border-radius: 20px;
    width: 410px;
    height: 320px;
}

.play p {
    font-size: 160%;
}

.btnNo,
.btnYes,
.btnCancel,
.btnSave {
    border: 2px solid white;
    background-color: #2ed573;
    box-shadow: 0 10px 15px #ff7f50;
    margin-top: 20%;
    width: 30%;
    height: 20%;
    font-size: 180%;
    color: white;
    padding: 1% 2%;
    border-radius: 100px;
}

.btnCancel,
.btnSave {
    width: 30%;
    height: 15%;
    margin-top: -1%;
    font-size: 120%;
    color: white;
}

.btnNo {
    float: left;
    margin-right: 40%;
}

.btnCancel {
    float: left;
    margin-right: 40%;
}

hr {
    margin: 1% 0;
}

.btnNo:hover,
.btnYes:hover,
.btnCancel:hover,
.btnSave:hover {
    border: 2px solid #ff7f50;
    background-color: white;
    box-shadow: 0 10px 15px #2ed573;
    color: #2ed573;
}

.highestVal,
.lowestVal,
.maxGuesses {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer {
    position: absolute;
    width: 35%;
    height: 18%;
    background-color: #ff7f50;
    border: 3px solid #2ed573;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: white;
    padding-top: 1%;
    margin-bottom: -3%;
    left: 0;
    bottom: 0;
}

.socialLogo > a {
    color: white;
    font-size: 150%;
    margin: 0 12%;
}

.socialLogo > a:hover {
    color: #2ed573;
}

.socialLogo {
    margin: 2% 0;
}